* {
    font-family: "맑은 고딕";
}
p{
    font-size: large;
    color: rgb(18, 105, 18);
}
h2{
    color: rgb(18, 105, 18);
}
button{
    background-color: rgb(1, 66, 1);
    color: white;
    border-color: rgb(1, 66, 1) ;
    border-radius: 5px;
}