<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
            margin: 10px;
            align-items: center;
        }
    </style>

</head>

<body>
    <h2>영화 무료 관람 예약 <small>(영화사 이벤트 2022.07.08 한정)</small></h2>
    <div style="display: flex;">
        <% movie.forEach(element => { %> <!--이렇게 하면 <div>가 영화갯수만큼 생성되므로 변화되도 수정 따로 필요없이 가능함-->
            <div>
                <label><%= element.name %></label>
                <p>         
                    <a href = "/seat?code=<%=element.id%>">
                        <img src = "<%=element.img%>" width="200px" >
                    </a>                  
                   
                </p>
            </div>
        <%}); %>
    </div>
</body>

</html>