<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <style>
        p{
            font-size: large;
            color: rgb(18, 105, 18);
        }
        h2{
            color: rgb(18, 105, 18);
        }
        button{
            background-color: rgb(1, 66, 1);
            color: white;
            border-color: rgb(1, 66, 1) ;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div>
        <h2 style="background-color: rgb(1, 66, 1); color: white; padding: 10px;">My Page</h2>
    </div>
    <div id="profile" style="float: left;background-color: rgba(194, 194, 194, 0.397); padding: 10px; ">
        <img name="ig" src=<%=user.image?? "/user/static/default.jpg"%> width="150" height="150" id="image">
        <form  action="/user/profile" method="get">
            <button type="submit">사진 변경</button>
        </form>
        <p style="text-align: center;"><%=user.email%></p>
        <div>
            <form method="get" action="/user/exit">
                <button type="submit" style="width: 80px; height: 25px; position:absolute; left: 50%;" >로그아웃</button>
            </form>
        </div>

    </div>
    
</body>
</html>