<!DOCTYPE html>
<html lang="en" style="height:100% ;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN</title>
    <style>
        * {
            font-family: "맑은 고딕";
        }
        body{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
        }
        p{
            font-size: large;
            color: rgb(18, 105, 18);
        }
        h2{
            padding: 1px;
            color: rgb(18, 105, 18);
            background-color: rgb(197, 233, 197);
        }
        button{
            width: 80px;
            background-color: rgb(1, 66, 1);
            color: white;
            border-color: rgb(1, 66, 1) ;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div style="width: 400px; border : solid; border-color: rgb(1, 66, 1); border-radius: 20px;text-align: center;">
        <h2 style="font-size: large;">로그인</h2>
        <form method="post" action="/account/signin" >
            <input type="text" name="id" placeholder="아이디" style="width: 350px;"/><br>
            <input type="password" name="pw" placeholder="비밀번호" style="width: 350px;"/><br>
            <p><%=msg%></p>
            <button type="submit" style="margin-bottom: 5px;">로그인</button>
        </form>
        <form method="get" action="/account/signup">
            <button type="submit" style="margin-bottom: 5px;">회원가입</button>
        </form>
    </div>
    
    
</body>
</html>