<!--
    a 태그에 발생하는 요청은 GET 방식임.
-->
<div>
    <a href="/sample/a">Sample A</a>    |
    <a href="/sample/b">Sample B</a>    |
    <a href="/study?subject=javascript">Javascript</a>  |
    <a href="/study?subject=html">
        <img src="https://s3.marpple.co/files/u_218933/2020/1/original/14474423ccd1acb63fab43dc936ab01302c64b547577e2e.png">
    </a>
</div>