<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
</head>
<body>
    <%#
        GET 방식은 주소창에 직접 작성해서 요청을 보내면 발생하는 방식이라 테스트 하기 쉬움

        POST 방식은 HTML에 특별한 장치를 해뒀을 때 발생하는 방식. 살펴보자
        POST 방식의 요청이 발생하는 일반적인 상황은 form 태그에 의해서이다.
            form은 사용자의 입력 수집에 사용되는 HTML form이다. (메모해놈)
    %>
    <h2>To Solution (GET)</h2>
    <form action="/solution" method="get">
        <input type = "text" name="word"/>
        <button type="submit">섭밋</button>
    </form>
    <%#
        버튼은 부모 form을 정해진 액션경로로 제출하는 submit
                        다시 초기화 시키는 reset
        이벤트 설정하기 나름인 button type이 있다.
    %>
    <h2>To Solution (POST)</h2>
    <form action="/solution" method="post">
        <input type = "text" name="word"/>
        <button type="submit">섭밋</button>
    </form>

</body>
</html>