/* 눈누에서 끌고온 폰트 */
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 구글 폰트에서 끌고온 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'ChosunGu';
}
body{
    height: 100%;
   
}
#main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}
input{
    font-family: 'ChosunGu';
}
p{
font-size: large;
color: rgb(18, 105, 18);
}
h2{
background-color: rgb(1, 66, 1);
color: white;
padding: 10px;
font-family: 'GmarketSansLight';
}
button{
background-color: rgb(1, 66, 1);
color: white;
border-color: rgb(1, 66, 1) ;
border-radius: 5px;
}
textarea{
width: 490px;
border : solid;
border-color: rgb(1, 66, 1) ;
border-radius: 5px;
}
a{
font-size: 3px;
color: rgb(18, 105, 18);
}
.article{
width: 500px;
padding: 10px;
margin-top: 10px;
border : solid;
border-color: rgb(1, 66, 1) ;
border-radius: 5px;
}
.post{
width: 500px;
padding: 10px;
margin-top: 10px;
border : solid;
border-color: rgb(1, 66, 1) ;
border-radius: 5px;
}
#cmtBt , #cmtDeleteBt, #cmtEditBt{
background-color: rgb(1, 66, 1);
color: white;
border-color: rgb(1, 66, 1) ;
border-radius: 5px;
margin-left: 10px;
}
#cmtBt:hover , #cmtDeleteBt:hover , #cmtEditBt:hover{
background-color: rgb(0, 14, 0);
color: white;
border-color: rgb(0, 14, 0);
border-radius: 5px;
margin-left: 10px;

}

