<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <h2>작성된 글</h2>
    <%list.forEach(data=>{%>
    <div style="background-color: skyblue;">
        <p>● 작성자 이름 : <%=data.name%> <small>[작성시간 :<%=data.log%> ]</small> <small>[<%=data._id.toString()%>]</small></p>
        <p>작성된 글 : <%=data.comment%> </p>
    </div>
    <hr/>   
    <%});%>

    <div>
    <form action="/write">
        <button type="submit">작성 페이지</button>
    </form>
    </div>
</body>
</html>