<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <style>
        .text{
            margin: 1px;
            width: 500px;
            border : solid ;border-color: rgba(4, 94, 94, 0.349); border-radius: 10px;
            padding: 5px;

        }
        p{
            padding: 1px;
            margin-top : 5px;
        }
        .button{
            margin: 1px;
            border-radius: 5px; border-color: rgb(12, 63, 63);
            background-color: rgb(0, 168, 168);
        }
    </style>
</head>
<body>
    <h2>간단한 정보를 입력해주세요.</h2>
    <div>
        <form method="post" action="/update">
            <input type="hidden" name="id" value="<%=id%>">
            <div class="text">
                <p>성함</p>
                <input type="text" name="name" value="<%=name%>"/>
            </div>

            <div class="text">
                <p>삭제할 때 사용할 비밀번호</p>
                <input type="password" name="password" value="<%=password%>"/>
            </div>

            <div class="text">
                <p>게시할 내용</p>
                <textarea name="textarea" style="width: 490px; height: 50px;"><%=comment%></textarea>
            </div>

            <button type="reset" class="button">리셋</button>
            <button type="submit" class="button">수정</button>
        </form>
    </div>

    <div>
        <form action="/list">
            <button type="submit" class="button">목록 페이지</button>
        </form>
        </div>
</body>
</html>