<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UploadForm</title>
</head>
<body>
    <h2>Hello</h2>
    <!--
        form을 통해서 클라이언트로부터 파일 자체를 전송받고자 할 때는
        method = "post"로 한 후에 enctype ="multipart/form-data" 로 변경해서 설정!
    -->

    <form action="/uploaded" method="post" enctype="multipart/form-data">
        <p>
            <input type="text" name="desc" style="width: 300px;"/>
        </p>
        <p>
            <input type="file" name="attach"/>
        </p>
        <button type="submit">전송</button>
    </form>
</body>
</html>